Makefile
Makefile.in
*.go
*.log
*.trs
/js-runtime/reflect.wasm
/examples/basic-types.wasm
/test-wasm-assembler.log
/aclocal.m4
/autom4te.cache/
/build-aux/
/config.log
/config.status
/configure
/pre-inst-env
/js-test
/doc/hoot.info
/doc/hoot.html/
/js-runtime/wtf8.wasm
/doc/.dirstamp
/module/hoot/char-prelude.scm
