h1 {
    text-align: center;
}

.container {
    margin-left: 4rem;
    margin-right: 4rem;
    max-width: 80em;
}

.repl-text {
    color: #e0ceed;
    background-color: #110e13;
    font-size: 12pt;
    font-family: monospace;
}

.repl {
    display: flex;
    flex-direction: column;
    white-space: pre;
    padding: 1rem;
    border-radius: 4px;
    height: 40rem;
    overflow: scroll;
}

.repl .log {
    white-space: pre;
    color: #e0ceed;
}

.repl .prompt {
    white-space: pre;
    display: flex;
}

.repl .prompt input {
    flex-grow: 100;
    border: 0;
    padding: 0;
    color: #e0ceed;
    background-color: #110e13;
}

.repl .prompt input:focus {
    outline:none;
}
